<li>
	{{name}}

	<button class="change-evil" data-id="{{id}}" data-newmorality="{{evil}}">
		{{#if evil}}The power of darkness is but a breath away...{{else}}No one, even a dragon, is ever beyond redemption!{{/if}}
	</button>

	<button class="delete-dragon" data-id="{{this.id}}">Remove Dragon</button>
</li>
