<li>
	{{name}}

	<button class="change-evil" data-id="{{id}}" data-newmorality="{{evil}}">
		{{#if evil}}Do you feel the pull of darkness?{{else}}No one, not even a dragon, is ever beyond redemption!{{/if}}
	</button>

	<button class="delete-dragon" data-id="{{this.id}}">Remove Dragon</button>
</li>
